.app {
  position: absolute;
  height: 100%;
  width: 100%;
}


.app-header {
  text-align: center;
}

.table-block {
  position: relative;
  width: calc(100% - 5em);
  height: calc(100% - 5em);
  margin: auto;
  background-color: whitesmoke;
  border: 1px inset black;
  border-radius: 10px;
  padding: 1ex;
}

